<ion-header>
  <ion-toolbar class="menutoolbar">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<!-- <form style="padding-top: 10px;"> -->

  <ion-grid class="backgrounds ion-padding">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium" position="floating">Customer Type</ion-label>
          <ion-select cancelText="Dismiss" id="customertype" [(ngModel)]="customertype" (ngModelChange)="setDef(customertype)" >
            <div *ngFor="let customertype of custtypelist; let i = index" slot="end">
              <ion-select-option value="{{ customertype }}">{{ customertype }}</ion-select-option>
            </div>
          </ion-select>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium" position="floating">Contact Person</ion-label>
          <ion-input autocorrect="on" clearInput color="medium"
          inputmode="text" placeholder="Required" required="true"  [(ngModel)]="contactperson1"></ion-input>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium" position="floating">Contact No 1</ion-label>
          <ion-input autocorrect="on" clearInput color="medium"
          inputmode="text" placeholder="Required" required="true" [(ngModel)]="contactno1"></ion-input>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium" position="floating">Email</ion-label>
          <ion-input autocorrect="on" clearInput color="medium"
          inputmode="text" placeholder="Optional" required="false" [(ngModel)]="emailcus"></ion-input>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium" position="floating">Mailing Address</ion-label>
          <ion-input autocorrect="on" clearInput color="medium"
          inputmode="text" placeholder="Required" required="true" [(ngModel)]="mailingaddress"></ion-input>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium" position="floating">Postal Code</ion-label>
          <ion-input autocorrect="on" clearInput color="medium"
          inputmode="text" placeholder="Required" required="true" [(ngModel)]="postalcode" (ngModelChange)="getAreas(postalcode)"  ></ion-input>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium" position="floating">Area</ion-label>
          <ion-input autocorrect="on" clearInput color="medium"
          inputmode="text" placeholder="Required" required="true" [(ngModel)]="areacode" ></ion-input>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium" position="floating">Unit No</ion-label>
          <ion-input autocorrect="on" clearInput color="medium"
          inputmode="text" placeholder="Optional" required="false" [(ngModel)]="unitno"></ion-input>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium" position="floating">Building Name</ion-label>
          <ion-input autocorrect="on" clearInput color="medium"
          inputmode="text" placeholder="Optional" required="false"  [(ngModel)]="builidngname"></ion-input>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium" position="floating">Lift/Lobby</ion-label>
          <ion-input autocorrect="on" clearInput color="medium"
          inputmode="text" placeholder="Optional" required="false"[(ngModel)]="liftlobby"></ion-input>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <ion-label color="medium" position="floating" name="areacode" >Area</ion-label>
        <ion-item>
    
         <ion-select  cancelText="Dismiss" id="areacode" name="areacode" [(ngModel)]="areacode">
            <div *ngFor="let areacode of arealist; let i = index"  slot="end">
              <ion-select-option value="{{ areacode }}">{{ areacode }}</ion-select-option>
            </div>
         </ion-select>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
    
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium" position="floating">Alternate Contact Person</ion-label>
          <ion-input autocorrect="on" clearInput color="medium"
          inputmode="text" placeholder="Optional" required="false" [(ngModel)]="contactperson2"></ion-input>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium" position="floating">Contact No 2</ion-label>
          <ion-input autocorrect="on" clearInput color="medium"
          inputmode="text" placeholder="Optional" required="false" [(ngModel)]="contactno2"></ion-input>
          <ion-icon  color="medium" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
 
 
  
  </ion-grid>

<!-- </form> -->

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col >
      <ion-button expand="full" shape="round" color="warning"  position="bottom" (click)="goToHome()">Close</ion-button>
    </ion-col>
    <ion-col >
      <ion-button expand="full" shape="round" color="warning" (click)="registerCustomer(cred)">Register</ion-button>
    </ion-col>
</ion-row>
</ion-footer>
