<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Collection View</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading == false">

    <ion-item-group>
        <ion-item-divider style="background-color: yellow;">
            <ion-label>Customer Details</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>Com/Agent:</ion-label>
            <ion-label style="padding-left: 1px;">{{collectionInfo.com}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Name : </ion-label>
            <ion-label>{{collectionInfo.cun}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Address : </ion-label>
            <ion-label style="padding-right: 1px;">{{collectionInfo.coa}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Building : </ion-label>
            <ion-label>{{collectionInfo.cob}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Lift/Lobby : </ion-label>
            <ion-label>{{collectionInfo.lil}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Unit : </ion-label>
            <ion-label>{{collectionInfo.cuo}}</ion-label>
            <ion-label>Region : </ion-label>
            <ion-label>{{collectionInfo.ren}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Postal : </ion-label>
            <ion-label>{{collectionInfo.cpc}}</ion-label>
            <ion-button shape="round" fill="outline" color="Tertiary" class="ion-float-right" position="bottom">MAP
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>Notes : </ion-label>
            <ion-label>{{collectionInfo.noe}}</ion-label>
        </ion-item>
        <ion-item *ngIf="collectionInfo.cn1 != ''">
            <ion-label>Number 1: </ion-label>
            <ion-label>{{collectionInfo.cn1}}</ion-label>
            <ion-button shape="round" fill="outline" color="Tertiary" class="ion-float-right" position="bottom" (click)="callNow('1')">Call
            </ion-button>
            <ion-button shape="round" fill="outline" color="Tertiary" class="ion-float-right" position="bottom"  href="sms: +65{{collectionInfo.cn1}}">SMS
            </ion-button>
        </ion-item>
        <ion-item *ngIf="collectionInfo.cn2 != ''">
            <ion-label>Number 2 : </ion-label>
            <ion-label>{{collectionInfo.cn2}}</ion-label>
            <ion-button shape="round" fill="outline" color="Tertiary" class="ion-float-right" position="bottom" (click)="callNow('2')">Call
            </ion-button>
            <ion-button shape="round" fill="outline" color="Tertiary" class="ion-float-right" position="bottom" href="sms: +65{{collectionInfo.cn}}">SMS
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>Alt name : </ion-label>
            <ion-label>{{collectionInfo.na2}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>credit : </ion-label>
            <ion-label>{{collectionInfo.cca}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Email : </ion-label>
            <ion-input type="email" [(ngModel)]="customerEmail" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
            <ion-button shape="round" fill="outline" color="Tertiary" class="ion-float-right" position="bottom" (click)="updateMyEmail()">Update
            </ion-button>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider style="background-color: yellow;">
            <ion-label>Collection Details</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>Job type:</ion-label>
            <ion-label style="padding-left: 1px;">{{collectionInfo.col}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Date : </ion-label>
            <ion-label>{{collectionInfo.cod}}</ion-label>
            <ion-button *ngIf="driverInfo.postpone == 1" shape="round" fill="outline" color="Tertiary" class="ion-float-right" position="bottom">Postpone
            </ion-button>
        </ion-item>
        <ion-item >
            <!-- <ion-label>Time : </ion-label>
            <ion-label>{{ collectionInfo.cot }}</ion-label>
            <div>
            <ion-select cancelText="Dismiss" [(ngModel)]="selectedtime" >
                <ion-select-option *ngFor="let timeslot of timeslots; let i = index" value="selectedtime == timeslot.description"  (ngModelChange)="getTime(selectedtime)">{{ timeslot.description }}</ion-select-option>
            </ion-select>
            </div> -->

            <!-- <ion-label>Time : </ion-label>
            <ion-select cancelText="Dismiss" [(ngModel)]="selectedtime" (ngModelChange)="getTime(selectedtime)" >
                    <ion-select-option>{{ timeslot.description }}</ion-select-option>
            </ion-select> -->
            <ion-label>Time : </ion-label>
            <ion-select  cancelText="Dismiss"[(ngModel)]="selectedtime" (ngModelChange)="getTime(selectedtime)" >
                <div *ngFor="let selectedtime of timeslots; let i = index">
                        <ion-select-option value="{{ selectedtime }}">{{ selectedtime }}</ion-select-option>
                </div>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>instruction : </ion-label>
            <ion-label>{{collectionInfo.con}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Updated by : </ion-label>
            <ion-label>{{collectionInfo.uby}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Update on : </ion-label>
            <ion-label>{{collectionInfo.uon}}</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-row>
        <ion-col>
            <ion-button expand="full" shape="round" color="warning" position="bottom"
                (click)="createInvoiceSelectItem(collectionInfo)">CREATE INVOICE</ion-button>
        </ion-col>
    </ion-row>

</ion-content>