<ion-header>
  <ion-toolbar>
    <ion-title>createcustomitem</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
  
    <ion-item-group>
          <ion-item-divider style="background-color: yellow;">
            <ion-label>Customer Details</ion-label>
          </ion-item-divider>
          <ion-item>
              <ion-label>Category: </ion-label>
              <ion-input> </ion-input>
                    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                      <ion-select-option value="brown">Clothing</ion-select-option>
                      <ion-select-option value="blonde">Bedding</ion-select-option>
                      <ion-select-option value="black">Curtains</ion-select-option>
                      <ion-select-option value="red">Sofa Covers</ion-select-option>
                      <ion-select-option value="blonde">Carpet</ion-select-option>
                      <ion-select-option value="black">Accessories</ion-select-option>
                      <ion-select-option value="red">Additional</ion-select-option>
                      <ion-select-option value="black">Others</ion-select-option>
                </ion-select>
          </ion-item>
          <ion-item>
              <ion-label>Description : </ion-label>
              <ion-input placeholder="  type here"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Clean type: </ion-label>
                <ion-input> </ion-input>
                      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                        <ion-select-option value="brown">LD</ion-select-option>
                        <ion-select-option value="blonde">DC</ion-select-option>
                        <ion-select-option value="black">Iron Only</ion-select-option>
                        <ion-select-option value="red">HW</ion-select-option>
                  </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Ready type: </ion-label>
                <ion-input> </ion-input>
                      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                        <ion-select-option value="brown">Hang</ion-select-option>
                        <ion-select-option value="blonde">Pack</ion-select-option>
                  </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Job type </ion-label>
                <ion-input> </ion-input>
                      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                        <ion-select-option value="brown">Collection</ion-select-option>
                        <ion-select-option value="blonde">Removal</ion-select-option>
                  </ion-select>
            </ion-item>
            <ion-item>
               <ion-row>
                 <ion-col>
                    <ion-label>Day</ion-label>
                    <ion-input style=" border-bottom: 1px solid rgb(2, 2, 2);"> </ion-input>
                 </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col>
                      <ion-label>Night</ion-label>
                      <ion-input style=" border-bottom: 1px solid rgb(2, 2, 2);"> </ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>Blackout</ion-label>
                        <ion-input style=" border-bottom: 1px solid rgb(2, 2, 2);"> </ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                          <ion-label>Belt</ion-label>
                          <ion-input style=" border-bottom: 1px solid rgb(2, 2, 2);"> </ion-input>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label>others</ion-label>
                            <ion-input style=" border-bottom: 1px solid rgb(2, 2, 2);"> </ion-input>
                        </ion-col>
                      </ion-row>
            </ion-item>
            <ion-item>
                <ion-label>Clean type</ion-label>
                <ion-input> </ion-input>
                      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                        <ion-select-option value="brown">LD</ion-select-option>
                        <ion-select-option value="blonde">DC</ion-select-option>
                  </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Carpet type</ion-label>
                <ion-input> </ion-input>
                      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                        <ion-select-option value="brown">short</ion-select-option>
                        <ion-select-option value="blonde">shaggy</ion-select-option>
                        <ion-select-option value="blonde">two-sided</ion-select-option>
                  </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Price type</ion-label>
                <ion-input> </ion-input>
                      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                        <ion-select-option value="brown">N</ion-select-option>
                        <ion-select-option value="blonde">TBA</ion-select-option>
                        <ion-select-option value="blonde">FOC</ion-select-option>
                        <ion-select-option value="blonde">FW</ion-select-option>
                  </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Length : </ion-label>
                <ion-input placeholder="  0"></ion-input>
                <ion-label>Breadth : </ion-label>
                <ion-input placeholder="  0"></ion-input>
              </ion-item>
            
            <ion-item>
                <ion-label>Unit type</ion-label>
                <ion-input> </ion-input>
                      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                        <ion-select-option value="brown">cm</ion-select-option>
                        <ion-select-option value="blonde">ft</ion-select-option>
                  </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Price / sqft : </ion-label>
                <ion-label> 0</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>Price : </ion-label>
                  <ion-input placeholder="  0"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>Qty / units : </ion-label>
                    <ion-input placeholder="  0"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label>No. of pieces : </ion-label>
                      <ion-label> 0</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Subtotal : </ion-label>
                        <ion-label> 0</ion-label>
                      </ion-item>
  

    </ion-item-group>
  
    
      <ion-row>
          <ion-col >
            <ion-button expand="full" shape="round" color="warning"  position="bottom" (click)="createInvoiceSelectItem()">ADD CUSTOM ITEM</ion-button>
          </ion-col>
        </ion-row>
  
  </ion-content>
  
