<ion-header>
  <ion-toolbar class="menutoolbar">
    <ion-buttons slot="start">
      <ion-menu-button color="white"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: cornsilk;">
      Collection & Deliveries
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="coldev('Load collections and deliveries from?')" expand="full" shape="round" color="warning">
        Reload</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment [(ngModel)]="selectedView" class="ion-padding">
    <ion-segment-button value="COLLECTION">COL
      <ion-img src="../assets/images/collection_icon.png" style="padding:5px;"></ion-img>
    </ion-segment-button>
    <ion-segment-button value="DELIVERIES">DEL
      <ion-img src="../assets/images/delivery_icon.png" style="padding:5px;"></ion-img>
    </ion-segment-button>
    <ion-segment-button value="PAYMENT">PAY
        <ion-img src="../assets/images/payment_icon.png" style="padding:5px;"></ion-img>
      </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>
  <div [ngSwitch]="selectedView">
    <div *ngSwitchCase="'COLLECTION'">
      <ion-list [hidden]="item.coldel_type != 'collection'" *ngFor="let item of myColDev; let i = index">
        <ion-item-group class="ion-padding" ng-selected="selected[i]" (click)="colView(item)">
          <ion-item-divider style="background-color: yellow;">
            <ion-label style="font-size: large;color: black;" >{{ item.cot }}</ion-label>
            <ion-label style="padding-left: 20px;font-size: large;color: black;">{{ item.cod }}</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Name : {{ item.cun }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Address : {{ item.coa }}</ion-label>
          </ion-item>
          <ion-item>
              <ion-label>Unit : {{ item.cuo }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Postal : {{ item.cpc }}</ion-label>
          </ion-item>
          <ion-item>
              <ion-label>Building : {{ item.cob }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea>NOTE : {{ item.con }}</ion-textarea>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </div>

    <div *ngSwitchCase="'DELIVERIES'">
      <ion-list [hidden]="delitem.coldel_type != 'delivery'" *ngFor="let delitem of myColDev; let i = index">
        <ion-item-group class="ion-padding" ng-selected="selected[i]" (click)="delView(delitem)">
          <ion-item-divider style="background-color: yellow;font-style: bold;">
            <ion-label style="font-size: large;color: black;">{{ delitem.inn }}</ion-label>
            <ion-label style="padding-left: 10px;font-size: large;color: black;"> {{ delitem.det }}</ion-label>
            <ion-label style="padding-left: 20px;font-size: large;color: black;"> {{ delitem.ded }}</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Name : {{ delitem.cun }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Address : {{ delitem.dea }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Unit : {{ delitem.dun }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Postal :S{{ delitem.dpc }}</ion-label>
          </ion-item>
          <ion-item>
              <ion-label>Building : {{ delitem.deb }}</ion-label>
            </ion-item>

          <ion-item>
            <ion-textarea>NOTE : {{ delitem.den }}</ion-textarea>
          </ion-item>

          <ion-item>
            <ion-img src="../assets/images/hang.png" style="padding-left: 10px;"></ion-img>
            <ion-label style="padding: 10px;"> {{ delitem.han }}</ion-label>
            <ion-img src="../assets/images/pack.png" style="padding-left: 10px;"></ion-img>
            <ion-label style="padding: 10px;">{{ delitem.pac }}</ion-label>
            <ion-img src="../assets/images/roll.png" style="padding-left: 10px;"></ion-img>
            <ion-label style="padding: 10px;">{{ delitem.rol }}</ion-label>
            <ion-img src="../assets/images/ret.png" style="padding-left: 10px;"></ion-img>
            <ion-label style="padding: 10px;">{{ delitem.pax }}</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </div>

    <div *ngSwitchCase="'PAYMENT'">
        <ion-list [hidden]="delitem.sts != 'Full Delivered, Partial Paid'" *ngFor="let delitem of myColDev; let i = index">
          <ion-item-group class="ion-padding" ng-selected="selected[i]" (click)="delView(delitem)">
            <ion-item-divider style="background-color: yellow;font-style: bold;">
              <ion-label style="font-size: large;color: black;">{{ delitem.inn }}</ion-label>
              <ion-label style="padding-left: 10px;font-size: large;color: black;"> {{ delitem.det }}</ion-label>
              <ion-label style="padding-left: 20px;font-size: large;color: black;"> {{ delitem.ded }}</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Name : {{ delitem.cun }}</ion-label>
            </ion-item>
  
            <ion-item>
              <ion-label>Address : {{ delitem.dea }}</ion-label>
            </ion-item>
  
            <ion-item>
              <ion-label>Unit : {{ delitem.dun }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Postal :S{{ delitem.dpc }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Building : {{ delitem.deb }}</ion-label>
              </ion-item>
  
            <ion-item>
              <ion-textarea>NOTE : {{ delitem.den }}</ion-textarea>
            </ion-item>
  
            <ion-item>
              <ion-img src="../assets/images/hang.png" style="padding-left: 10px;"></ion-img>
              <ion-label style="padding: 10px;"> {{ delitem.han }}</ion-label>
              <ion-img src="../assets/images/pack.png" style="padding-left: 10px;"></ion-img>
              <ion-label style="padding: 10px;">{{ delitem.pac }}</ion-label>
              <ion-img src="../assets/images/roll.png" style="padding-left: 10px;"></ion-img>
              <ion-label style="padding: 10px;">{{ delitem.rol }}</ion-label>
              <ion-img src="../assets/images/ret.png" style="padding-left: 10px;"></ion-img>
              <ion-label style="padding: 10px;">{{ delitem.pax }}</ion-label>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </div>

  </div>
</ion-content>

<ion-row>
  <!-- <ion-col>
    <ion-button expand="full" shape="round" color="warning" class="ion-float-left" position="bottom">PREV</ion-button>
  </ion-col> -->
  <!-- <ion-col>
    <ion-button (click)="getToday()"(click)="coldev('Load collections and deliveries from?')"  expand="full" shape="round" color="warning" class="ion-float-center" position="bottom">TODAY
    </ion-button>
  </ion-col> -->
  <!-- <ion-col>
    <ion-button expand="full" shape="round" color="warning" class="ion-float-right" position="bottom">NEXT</ion-button>
  </ion-col> -->
</ion-row>