<ion-header>
  <ion-toolbar class="menutoolbar">
    <ion-buttons slot="start">
      <ion-menu-button color="white"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: rgb(0, 0, 0);">
      Col & Del {{ collectionCount }}/{{ deliveryCount }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="coldev('Load collections and deliveries from?')" expand="full" shape="round" >
        Reload</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment [(ngModel)]="selectedView" class="ion-padding">
    <ion-segment-button value="COLLECTION">COL
      <ion-img src="../assets/images/collection_icon.png" style="width:50%;height: 50%;padding-bottom: 10px;"></ion-img>
    </ion-segment-button>
    <ion-segment-button value="DELIVERIES">DEL
      <ion-img src="../assets/images/delivery_icon.png" style="width:50%;height: 50%;padding-bottom: 10px;"></ion-img>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content >
  <div [ngSwitch]="selectedView" style="padding-left: 10px;padding-right: 10px;">
    <div *ngSwitchCase="'COLLECTION'">
      <ion-list [hidden]="item.coldel_type != 'collection'" *ngFor="let item of myColDev; let i = index" >
        <ion-item-group  ng-selected="selected[i]" (click)="colView(item)" style="border-color: rgb(0, 0, 0);">
            <ion-item-divider *ngIf="item.coldel_flag == 'updated'" style="border-color: rgb(0, 0, 0);background-color: rgba(92, 148, 221, 0.568);font-style: bold;">
            <ion-item>
              <ion-row>
                <ion-col>
                  <ion-img src="../assets/images/collection_icon.png" style="width:50%;height: 50%;"></ion-img>
                  <ion-label style="font-size: medium;color: black;" >{{ item.cot }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label style="font-size: large;">{{ item.cun }}</ion-label>
                </ion-col>
                <ion-col>
                  <ion-label style="font-size: medium;">{{ item.coa }} <br/> {{ item.cuo }} {{ item.cpc }} <br/> {{ item.cob }}</ion-label>
                </ion-col>
                <ion-col *ngIf="item.con != ''">
                  <ion-label style="font-size: medium;">Note : {{ item.con }}</ion-label>
                </ion-col>
              </ion-row>       
            </ion-item>
          </ion-item-divider>
          <ion-item-divider *ngIf="item.coldel_flag == 'old'" style="border-color: rgb(0, 0, 0);background-color: rgba(228, 228, 228, 0);font-style: bold;">
            <ion-item>
              <ion-row>
                <ion-col>
                  <ion-img src="../assets/images/collection_icon.png" style="width:50%;height: 50%;"></ion-img>
                  <ion-label style="font-size: medium;color: black;" >{{ item.cot }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label style="font-size: large;">{{ item.cun }}</ion-label>
                </ion-col>
                <ion-col>
                  <ion-label style="font-size: medium;">{{ item.coa }} <br/> {{ item.cuo }} {{ item.cpc }} <br/> {{ item.cob }}</ion-label>
                </ion-col>
                <ion-col *ngIf="item.con != ''">
                  <ion-label style="font-size: medium;">Note : {{ item.con }}</ion-label>
                </ion-col>
              </ion-row>       
            </ion-item>
          </ion-item-divider>
        </ion-item-group>
      </ion-list>
    </div>
    <div *ngSwitchCase="'DELIVERIES'">
      <ion-list [hidden]="delitem.coldel_type != 'delivery'"  *ngFor="let delitem of myColDev; let i = index">
        <!-- <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false" reorder="true" side="start"> -->
        <!-- <ng-container *ngIf="delitem.coldel_type == 'delivery' && delitem.sts != 'Full Delivered, Partial Paid'"> -->
        <ion-item-group ng-selected="selected[i]" (click)="delView(delitem)">
          <ion-item-divider *ngIf="delitem.coldel_flag == 'updated'" style="border-color: rgb(0, 0, 0);background-color: rgba(92, 148, 221, 0.568);font-style: bold;">
            <ion-item>
              <ion-row>
                <ion-col>
                  <ion-img *ngIf="delitem.sts == 'Pending Delivery'" src="../assets/images/delivery_icon.png" style="width:50%;height: 50%;"></ion-img>
                  <ion-img *ngIf="delitem.sts == 'Full Delivered, Partial Paid'" src="../assets/images/payment_icon.png" style="width:50%;height: 50%;"></ion-img>
                  <ion-label style="font-size: smaller;color: black;">{{ delitem.inn }}</ion-label>
                  <ion-label style="font-size: medium;;color: black;"> {{ delitem.det }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label style="font-size: large;">Name : {{ delitem.cun }}</ion-label>
                </ion-col>
                <ion-col>
                  <ion-label style="font-size: medium;">Address : {{ delitem.dea }} <br/>{{ delitem.dun }} S{{ delitem.dpc }}<br/> {{ delitem.deb }}</ion-label>
                </ion-col>
                <ion-col *ngIf="delitem.den != ''">
                  <ion-label style="font-size: medium;">NOTE : {{ delitem.den }}</ion-label>
                </ion-col>
              </ion-row>       
            </ion-item>
          </ion-item-divider>
          
          <ion-item-divider *ngIf="delitem.coldel_flag == 'old'" style="border-color: rgb(0, 0, 0);background-color: rgba(228, 228, 228, 0);font-style: bold;">
            <ion-item>
              <ion-row>
                <ion-col>
                  <ion-img *ngIf="delitem.sts == 'Pending Delivery'" src="../assets/images/delivery_icon.png" style="width:50%;height: 50%;"></ion-img>
                  <ion-img *ngIf="delitem.sts == 'Full Delivered, Partial Paid'" src="../assets/images/payment_icon.png" style="width:50%;height: 50%;"></ion-img>
                  <ion-label style="font-size: smaller;color: black;">{{ delitem.inn }}</ion-label>
                  <ion-label style="font-size: medium;;color: black;"> {{ delitem.det }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label style="font-size: large;">Name : {{ delitem.cun }}</ion-label>
                </ion-col>
                <ion-col>
                  <ion-label style="font-size: medium;">Address : {{ delitem.dea }} <br/>{{ delitem.dun }} S{{ delitem.dpc }}<br/> {{ delitem.deb }}</ion-label>
                </ion-col>
                <ion-col *ngIf="delitem.den != ''">
                  <ion-label style="font-size: medium;">NOTE : {{ delitem.den }}</ion-label>
                </ion-col>
              </ion-row>       
            </ion-item>
          </ion-item-divider>
        </ion-item-group>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-row>
  <!-- <ion-col>
    <ion-button expand="full" shape="round" color="warning" class="ion-float-left" position="bottom">PREV</ion-button>
  </ion-col> -->
  <!-- <ion-col>
    <ion-button (click)="getToday()"(click)="coldev('Load collections and deliveries from?')"  expand="full" shape="round" color="warning" class="ion-float-center" position="bottom">TODAY
    </ion-button>
  </ion-col> -->
  <!-- <ion-col>
    <ion-button expand="full" shape="round" color="warning" class="ion-float-right" position="bottom">NEXT</ion-button>
  </ion-col> -->
</ion-row>