<ion-header>
  <ion-toolbar>
    <ion-title>coldev</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

      <ion-row>
          <ion-col>
            <ion-button shape="round" fill="outline" color="Tertiary" class="ion-float-left" position="bottom"
              href="home">PREV</ion-button>
            <ion-button shape="round" fill="outline" color="Tertiary" class="ion-float-center" position="bottom"
              href="home">TODAY</ion-button>  
            <ion-button shape="round"
              fill="outline" color="Tertiary" class="ion-float-right" position="bottom">NEXT</ion-button>
          </ion-col>
        </ion-row>
  </ion-grid>

</ion-content>
