.menutoolbar{
    --background: #e2eb6e;
}


ion-label{
    color: black;
    font-size: medium;
}

// .fixedLabel {
//     min-width: 20% !important;
//     max-width: 20% !important;
// }

// .imageheight {
//     min-width: 5% !important;
//     max-width: 5% !important;
// }