<ion-header>
    <ion-toolbar class="menutoolbar">
      <ion-buttons slot="start">
        <ion-menu-button color="white"></ion-menu-button>
      </ion-buttons>
      <ion-title style="color: cornsilk;">
        Unsync Data
      </ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button (click)="coldev('Load collections and deliveries from?')" expand="full" shape="round" color="warning">
          Reload</ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  
    <ion-segment [(ngModel)]="selectedViewSync" class="ion-padding">
      <ion-segment-button value="COLLECTION">COL
        <ion-img src="../assets/images/collection_icon.png" style="padding:5px;"></ion-img>
      </ion-segment-button>
      <ion-segment-button value="DELIVERIES">DEL
        <ion-img src="../assets/images/delivery_icon.png" style="padding:5px;"></ion-img>
      </ion-segment-button>
    </ion-segment>
  
  </ion-header>
  
  <ion-content (onload)="ionViewWillEnter()">
    <div [ngSwitch]="selectedViewSync">
      <div *ngSwitchCase="'COLLECTION'">
        <ion-list *ngFor="let unsyncItems of unsyncCollection; let i = index">
          <ion-item-group class="ion-padding"  >
            <ion-item-divider style="background-color: yellow;">
              <ion-label style="padding-left: 20px;font-size: large;color: black;" >{{ unsyncItems.UNINV_INVNO }}</ion-label>
              <ion-button style="padding-left: 60px;"  color="success" ng-selected="selected[i]" (click)="syncCollection(unsyncItems)">Sync</ion-button>
            </ion-item-divider> 
            <!-- <ion-item>
              <ion-label>Name : {{ item.cun }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Address : {{ item.coa }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Unit : {{ item.cuo }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Postal : {{ item.cpc }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Building : {{ item.cob }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-textarea>NOTE : {{ item.con }}</ion-textarea>
            </ion-item> -->
          </ion-item-group>
        </ion-list>
      </div>
  
      <div *ngSwitchCase="'DELIVERIES'">
        <ion-list *ngFor="let unsyncDel of unsyncDeliveries; let i = index">
          <ion-item-group class="ion-padding"  >
            <ion-item-divider style="background-color: yellow;">
              <ion-label style="padding-left: 20px;font-size: large;color: black;" >{{ unsyncDel.inn }}</ion-label>
              <ion-button style="padding-left: 60px;"  color="success" ng-selected="selected[i]" (click)="syncDelivery(unsyncDel)">Sync</ion-button>
            </ion-item-divider> 
          </ion-item-group>
        </ion-list>
      </div>
    </div>
  </ion-content>
  
  <ion-row>
    <!-- <ion-col>
      <ion-button expand="full" shape="round" color="warning" class="ion-float-left" position="bottom">PREV</ion-button>
    </ion-col> -->
    <!-- <ion-col>
      <ion-button (click)="getToday()"(click)="coldev('Load collections and deliveries from?')"  expand="full" shape="round" color="warning" class="ion-float-center" position="bottom">TODAY
      </ion-button>
    </ion-col> -->
    <!-- <ion-col>
      <ion-button expand="full" shape="round" color="warning" class="ion-float-right" position="bottom">NEXT</ion-button>
    </ion-col> -->
  </ion-row>