.menutoolbar{
    --background: #ffce00;
}

ion-label{
    color: black;
    font-size: medium;
}

// .fixedheight {
//     min-height: 30% !important;
//     max-height: 50% !important;
// }

.round {
    --width: 100px;
    --height: 80px;
    --border-radius: 10%;
    --vertical-align: middle;
    --padding-start: 20px;
    --padding-end: 20px;
}