<ion-header>
  <ion-toolbar>
    <ion-title>Delivery Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item-group *ngFor="let item of info; let i = index">
        <ion-item-divider style="background-color: yellow;">
          <ion-label class="ion-padding">Description</ion-label>
          <ion-label class="ion-padding">Price</ion-label>
          <ion-label class="ion-padding">Qty</ion-label>
          <ion-label class="ion-padding">No.</ion-label>
          <ion-label class="ion-padding">Total</ion-label>
        </ion-item-divider>
        <ion-item>
              <ion-label >{{ item.description }} </ion-label>
        </ion-item>
         <ion-item>
            <ion-label>{{ item.price }}</ion-label>
            <ion-label>{{ item.qty }}</ion-label>
            <ion-label>{{ item.pieces }}</ion-label>
            <ion-label>{{ item.price * item.qty }}</ion-label>
         </ion-item>
        
          
          
  </ion-item-group>


</ion-content>
