<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Delivery Items</ion-title>
</ion-toolbar>
<ion-row class="headerCss">
    <ion-col size="3.5">
      Description
    </ion-col>
    <ion-col size="2" style="text-align: left;">
      Price
    </ion-col>
    <ion-col size="2">
      Qty
    </ion-col>
    <ion-col size="2">
      Pcs
    </ion-col>
    <ion-col size="2">
      SubTotal
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>

    <ion-item-group >
        <ion-item  *ngFor="let item of info; let i = index">
        <ion-row>
            <ion-col class="ion-padding">
                <ion-label >{{ item.description }} </ion-label>
            </ion-col>
            <ion-col class="ion-padding">
                <ion-label>{{ item.price }}</ion-label>
            </ion-col>
            <ion-col class="ion-padding">
                <ion-label>{{ item.qty }}</ion-label>
            </ion-col>
            <ion-col class="ion-padding">
                <ion-label>{{ item.pieces }}</ion-label>
            </ion-col >
            <ion-col class="ion-padding">
                <ion-label>{{ item.price * item.qty }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
  </ion-item-group>


</ion-content>
